@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
//variables
$primaryColor:#555555; //rgb(85, 85, 85)
$headingsTextColor: #139edc; //rgb(19, 158, 220)
$articleBackgroundColor: #f7f8f9; //rgb(247, 248, 249)
$lineColorGreen: #66b835; //rgb(102, 184, 53)
$lineColorBlue: #1bafe9; //rgb(27, 175, 233)
$facebookColor: #3b5998;
$instagramColor: #8a3ab9;
$youtubeColor: #bb0000;
$font: 16px;
$transition: .4s ease;
$yellow: rgba(255, 255, 102, .2);